# Node
node_modules/
dist/
.env
.env.local

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Misc
*.bak
*.swp

# Optional: Ignore front/backend node_modules from root
frontend/node_modules/
backend/node_modules/
