@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base { */
  /* :root {
  --background: 0 0% 100%;
  --foreground: 222 47% 11%;

  --primary: 222 47% 31%;
  --primary-foreground: 0 0% 100%;

  --secondary: 210 40% 96%;
  --secondary-foreground: 222 47% 20%;

  --muted: 220 14% 96%;
  --muted-foreground: 222 14% 40%;

  --accent: 222 100% 90%;
  --accent-foreground: 222 100% 20%;

  --border: 220 13% 91%;
  --input: 220 13% 91%;
  --ring: 222 47% 31%;

  --sidebar-background: 210 40% 98%;
  --sidebar-foreground: 222 47% 15%;
  --sidebar-accent: 222 100% 90%;
} */

/* .dark {
  --background: 222 47% 7%;
  --foreground: 0 0% 100%;

  --primary: 222 47% 50%;
  --primary-foreground: 0 0% 100%;

  --secondary: 222 10% 20%;
  --secondary-foreground: 0 0% 100%;

  --muted: 222 14% 14%;
  --muted-foreground: 0 0% 65%;

  --accent: 222 47% 25%;
  --accent-foreground: 0 0% 100%;

  --border: 222 14% 20%;
  --input: 222 14% 20%;
  --ring: 222 47% 50%;

  --sidebar-background: 222 47% 10%;
  --sidebar-foreground: 0 0% 100%;
  --sidebar-accent: 222 47% 25%;
} */

/* } */

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */


/* @keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
} */

/* .animate-shimmer {
  animation: shimmer 1.2s linear infinite;
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 0.07) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  background-size: 200% 100%;
} */